@use "sass:map";
$colores-deg-sitio: (
  deg-sitio:
    linear-gradient(
      to top,
      rgb(199, 143, 0) 0%,
      rgb(212, 180, 0) 60%,
      rgb(223, 178, 0) 100%
    ),
  alter-sitio: rgb(212, 170, 0),
  deg-sitio-texto-color: #fff,
  alter-sitio-texto-color: #fff,
);
$link-color: $grey-dk-300;
$body-font-family: "Raleway", sans-serif;
$mono-font-family: "Ubuntu Mono", monospace;

/* Añadir alternativas */
